.benefit{
    margin: 20px;
    
}

.benefit-title{
    
}

.main-container{
    display: flex;
    flex-direction: row;
   
    justify-content: center;

}
.right-container{
    display: flex;
    flex-direction: row;
    width: 500px;
    gap: 10px;
    margin-left: 30px;
}

.details{
    
}
.benefit-image{
    width: 50vh;
    border-bottom-right-radius: 12rem;
}

.icon{
    color: #855e46;
}
.left-container::after{
    content: '';
    width: 320px;
    height:330px;
    border: 3px solid #996545;
    position: absolute;
    top: 245px;
    left: 280px;
    border-bottom-right-radius: 12rem;


}
.left-container{
    
}